{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method="post" role="form">

  <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="enter your email">
    </div>

    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="enter your username(4 character minimum)">
    </div>

    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="enter your password(8 to 30 characters)">
    </div>

    <button type="submit" class="btn btn-default">Register</button>
  </form>
{% endblock %}
